In [23]:
import pandas as pd
import random
from random_word import RandomWords
import os

In [21]:
def get_random_word(num_words):
    sent=""
    for i in range(num_words):
        word_length=random.randrange(4,10)
        word=""
        for j in range(word_length):
            char=97+random.randrange(26)
            word+=chr(char)
        sent+=word+" "
    return sent[:-1]

In [22]:
data=[]
for year in range(1990,2011):
    for cat in range(1,16):
        data.append([
            year,
            cat,
            random.randrange(20),
            get_random_word(10)
        ])
df=pd.DataFrame(data,columns=["Year","Cat","Count","Papers"])
df.head()

   Year  Cat  Count                                             Papers
0  1990    1      8  uvpz rmqyqoy attwrgq yfln nssmk njhbgt iookac ...
1  1990    2      0  kahnwfgx bxunqvaqe eccnwuwdy mzmeaf fvmvydnzv ...
2  1990    3      0  xjitxpa dmxtnmy ufid svjemi fpasbns szwqqvsyl ...
3  1990    4      6  jfgvj lvkjox ygqpijvtt dspps nbfcv wfbnyzfny a...
4  1990    5     12  gnaqtg wsnos sexmu uqeh wwjrd wgzvvayc unyisj ...

In [19]:
data[0]

[1990, 1, 10, 'hjsydwf inyme ibpqlqr nmusdjsze kajaj s w t z h']

In [24]:
os.getcwd()

'D:\\Sem 3\\RE\\Citation_Analysis_Code\\python'

In [28]:
parent_dir =  os.path.dirname(os.getcwd())
data_dir = os.path.join(parent_dir,"data")
file_name="random.csv"
df.to_csv(os.path.join(data_dir,file_name),index=False)